[build]
  command = "npm install"
  publish = "public"

[functions]
  directory = "functions"
  main = "functions/index.js"
  included_files = ["models/**", "routes/**", "loaders/**", "config/**", "scripts/**", "cron-jobs.js"]

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/index/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

